{{- $spanwidth := or .width "sm:col-span-6" -}}
{{- $autofill := or .autofill .id -}}

<div class="{{ $spanwidth }}">
  <label for="{{ .id }}" class="block text-sm font-medium" id="div-{{ .id }}">{{ .label }}
    <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10 hover:cursor-grab" id="div-{{ .id }}">
      <div class="text-center">
        <svg class="mx-auto size-12 text-gray-500" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" data-slot="icon">
          <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/>
        </svg>
        <div class="mt-4 flex text-sm/6 justify-center">
          <label for="{{ .id }}" class="relative cursor-pointer font-semibold text-primary hover:text-indigo-500">
            Wähle eine Datei aus
            <input id="{{ .id }}" name="{{ .id }}" type="file" accept=".pdf,application/pdf" class="sr-only">
          </label>
          <span class="pl-1">oder ziehe diese her</span>
        </div>
        <p class="text-gray-500" id="selection-{{ .id }}"></p>
        <p class="text-xs/5 text-gray-600">PDF bis zu 10MB</p>
      </div>
    </div>
  </label>
  {{- if .commentar }}
  <span class="text-xs text-gray-400">{{ .commentar }}</span>
  {{ end -}}
</div>

