{{- $condition := .condition -}}
<div class="max-w-7xl mx-auto grid grid-cols-4 place-items-center gap-10 {{ .classes }}">
    {{- $sponsors := where site.RegularPages "Type" "unsere-unterstuetzer" -}}
    {{- range where $sponsors $condition "eq" true -}}
        {{- $sponsor := . -}}
        <a class="block h-52 w-52" href="{{ $sponsor.Params.homepage }}">
        {{- with resources.Get .Params.image -}}
            <img class="max-w-full max-h-full rounded-md shadow-md transition-transform hover:scale-105" height="{{ .Height }}" width="{{ .Width }}" src="{{ .RelPermalink }}" alt="{{ $sponsor.Title }}" title="{{ $sponsor.Title }}">
        {{- end -}}
        </a>
    {{- end -}}
</div>