{{- define "banner" -}}
<div class="grid gap-20 grid-cols-1 lg:grid-cols-2 place-items-center max-w-8xl mx-auto px-4 py-10">
  {{- with resources.GetMatch "lander.*" -}}
    <img class="max-w-full max-h-full rounded-md shadow-md" height="{{ .Height }}" width="{{ .Width }}" src="{{ .RelPermalink }}">
  {{- end -}}
  <div>
    {{- with resources.GetMatch "logo.*" -}}
      <img class="float-right w-22 h-22 lg:w-44 lg:h-44" width="{{ .Width }}" height="{{ .Height }}" src="{{ .RelPermalink }}">
    {{- end -}}
    <div class="text-sm">{{ .Site.Param "date" }}</div>
    <div class="text-5xl font-bold">{{ .Site.Title }}</div>

    {{- range $i, $post := (where site.RegularPages "Type" "posts").Limit 2 -}}
      {{- if $i -}}
        <div class="shrink-0 bg-neutral h-[1px] w-10/12 mx-auto"></div>
      {{- end -}}
      {{- with $post -}}
        <a class="block my-5" href="{{ .RelPermalink }}">
          <span class="text-lg font-bold">{{ .LinkTitle }}</span><span class="text-sm"> {{ time.Format ":date_short" .PublishDate }}<br />
            {{- .Summary -}}
          </span>
        </a>
      {{- end -}}
    {{- end -}}
    {{- with site.GetPage "/posts" -}}
      <div class="flex justify-end">
        {{- partial "buttons/outline.html" (dict "link" . "label" "Alle Neuigkeiten") -}}
      </div>
    {{- end -}}
  </div>
</div>
{{- end -}}

{{ define "main" }}
  <main class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 flex flex-col space-y-10 py-5" aria-role="main">
    <div class="flex flex-col self-center items-center">
      <span class="text-2xl font-semibold">Mitreden!</span>
      <h1 class="mb-5">Marktplatz zur 104. BauFaK</h2>
      {{- partial "buttons/default.html" (dict "link" "https://www.baufak.de/baufak/marktplatz" "label" "Zum Marktplatz") -}}
    </div>


    <div class="flex flex-col items-center lg:flex-row gap-10">
      <div class="grow flex flex-col">
        <h1 class="pb-10" href="{{ .RelPermalink }}">Unsere Unterstützer</h1>
        {{- partial "sponsor-grid.html" (dict "condition" "Params.on-homepage") -}}
        <div class="flex w-full p-10 justify-center sm:justify-end">
          {{- with site.GetPage "/unsere-unterstuetzer" -}}
              {{- partial "buttons/default.html" (dict "link" .RelPermalink "label" "Alle Sponsoren") -}}
          {{- end -}}
        </div>
      </div>
      <div class="drop-shadow-md">
        {{- partial "instagram.html" (.Site.Param "instagram-post") -}}
      </div>
      </div>
  </main>
{{- end -}}

