<form id="registration">
    <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
        {{ partial "anmeldung-field.html" (dict "id" "vorname" "label" "Vorname" "autofill" "given-name" "placeholder" "Ida" "width" "sm:col-span-3") }}
        {{ partial "anmeldung-field.html" (dict "id" "nachname" "label" "Nachname" "autofill" "family-name" "placeholder" "Dino"  "width" "sm:col-span-3") }}

        {{ partial "anmeldung-field.html" (dict "id" "email" "label" "Persönliche E-Mail" "commentar" "Bitte keine Funktionsadressen wie vorstand@, info@ o.Ä.!" "autofill" "email" "type" "email" "placeholder" "ida@ikea.de"  "width" "sm:col-span-3") }}
        {{ partial "anmeldung-field.html" (dict "id" "telefon" "label" "Telefonnummer" "autofill" "phone" "type" "tel" "placeholder" "089 32168"  "width" "sm:col-span-3" "optional" true) }}

        {{ partial "anmeldung-field.html" (dict "id" "hochschule" "label" "Hochschule/Universität" "placeholder" "Steinzeit Universität München" "width" "sm:col-span-3") }}
        {{ partial "anmeldung-select.html" (dict "id" "statusgruppe" "label" "Statusgruppe" "width" "sm:col-span-3" "options" (slice "A: Vertreterinnen, Vertreter und Mitglieder der Fachschaften" "B: Ehemalige" "C: Gäste")) }}

        {{ partial "anmeldung-toggle.html" (dict "id" "erste-baufak" "label" "Ist die 104. BauFak deine erste BauFak?" "width" "sm:col-span-2") }}
        {{ partial "anmeldung-field.html" (dict "id" "wievielte-baufak" "label" "Deine wievielte BauFak ist die 104. BauFak?" "type" "number" "width" "sm:col-span-4") }}

        {{ partial "anmeldung-toggle.html" (dict "id" "bauhelm" "label" "Hast du ein Bauhelm?" "width" "sm:col-span-2") }}
        {{ partial "anmeldung-toggle.html" (dict "id" "sicherheitsschuhe" "label" "Hast du Sicherheitsschuhe?" "width" "sm:col-span-2") }}
        {{ partial "anmeldung-toggle.html" (dict "id" "deutschlandticket" "label" "Hast du ein Deutschlandticket?" "width" "sm:col-span-2") }}

        {{ partial "anmeldung-select.html" (dict "id" "anreisezeitpunkt" "label" "Wann reist du an" "width" "sm:col-span-3" "options" (slice "" "Mittwoch, 28.05, 9:00 - 10:00" "Mittwoch, 28.05, 10:00 - 11:00" "Mittwoch, 28.05, 11:00 - 12:00" "Mittwoch, 28.05, 12:00 - 13:00" "Mittwoch, 28.05, 13:00 - 14:00" "Mittwoch, 28.05, 14:00 - 15:00" "Mittwoch, 28.05, 15:00 - 22:00" "Donnerstag, 29.05" "Freitag, 30.05" "Früher" "Weiß ich noch nicht") "width" "sm:col-span-3") }}
        {{ partial "anmeldung-field.html" (dict "id" "anreisezeitpunkt-kommentar" "label" "Bitte gib die genaue Zeit deiner Anreise an" "optional" true "width" "sm:col-span-3") }}
        {{ partial "anmeldung-select.html" (dict "id" "anreisemittel" "label" "Wie reist du an" "options" (slice "" "Zug" "Zu Fuß" "Auto" "Kutsche" "Surfboard" "Floß" "Weiß ich noch nicht") "commentar" "In der Müncher Innenstadt und am Hostel gibt es keine kostenlosen Parkplätze, genauerer Infos findet ihr auf der Website unter Organisation") }}
        {{ partial "anmeldung-select.html" (dict "id" "abreisezeitpunkt" "label" "Wann reist du ab" "width" "sm:col-span-3" "options" (slice "" "Sonntag, 01.06, 7:00 - 8:00" "Sonntag, 01.06, 8:00 - 9:00" "Sonntag, 01.06, 9:00 - 10:00" "Sonntag, 01.06, 10:00 - 11:00" "Sonntag, 01.06, 11:00 - 12:00" "Sonntag, 01.06, 12:00 - 13:00" "Sonntag, 01.06, 13:00 - 14:00" "Sonntag, 01.06, 14:00 - 15:00" "Donnerstag, 29.05" "Freitag, 30.05" "Samstag, 31.05" "Später" "Weiß ich noch nicht") "width" "sm:col-span-3") }}
        {{ partial "anmeldung-field.html" (dict "id" "abreisezeitpunkt-kommentar" "label" "Bitte gib die genaue Zeit deiner Abreise an" "optional" true "width" "sm:col-span-3") }}
        {{ partial "anmeldung-select.html" (dict "id" "abreisemittel" "label" "Wie reist du ab" "options" (slice "" "Zug" "Zu Fuß" "Auto" "Kutsche" "Surfboard" "Floß" "Weiß ich noch nicht")) }}

        {{ partial "anmeldung-toggle.html" (dict "id" "schlafplatz" "label" "Benötigst du ein Schlafplatz im Hostel?" "width" "sm:col-span-3") }}
        {{ partial "anmeldung-field.html" (dict "id" "schlafplatz-kommentar" "label" "Kommentar zum Schlafplatz" "placeholder" "Könnte notfalls bei den Hauptorganisatoren schlafen" "width" "sm:col-span-3" "optional" true) }}

        {{ partial "anmeldung-select.html" (dict "id" "schlafplatz-auswahl" "label" "Was für Präferenzen hast du bei deinen Zimmerpartnern" "width" "sm:col-span-3" "options" (slice "Keine Präferenzen" "Bestimmte Personen" "Eigene Fachschaft" "FLINTA" "Schnarcherzimmer" "Ehemalige")) }}
        {{ partial "anmeldung-field.html" (dict "id" "schlafplatz-personen" "label" "Welche Zimmerpartner hättest du gerne?" "placeholder" "Igor, Jimmy und Orka aus meiner Fachschaft" "width" "sm:col-span-3") }}

        {{ partial "anmeldung-select.html" (dict "id" "ernaehrung" "label" "Ernährungsform" "width" "sm:col-span-3" "options" (slice "" "Allesfressend" "Vegetarisch" "Vegan")) }}
        <div class="sm:col-span-6 font-medium">Allergien</div>
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-laktose" "label" "Laktose") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-universitaet" "label" "Universität") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-gluten" "label" "Gluten") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-nuesse" "label" "Nüsse") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-architekten" "label" "Architekten") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-soja" "label" "Soja") }}
        {{ partial "anmeldung-checkbox.html" (dict "id" "allergie-sonstige" "label" "Sonstige Allergien") }}
        {{ partial "anmeldung-field.html" (dict "id" "allergien" "hidden" true) }}

        {{ partial "anmeldung-select.html" (dict "id" "tshirt" "label" "T-Shirt" "width" "sm:col-span-3" "options" (slice "" "Ich möchte kein T-Shirt" "XS" "S" "M" "L" "XL" "2XL")) }}
        {{ partial "anmeldung-select.html" (dict "id" "buddy" "label" "Buddyprogramm" "width" "sm:col-span-3" "options" (slice "" "Ich möchte ein Buddy" "Ich möchte kein Buddy" "Ich bin gerne ein Buddy")) }}

        <div class="sm:col-span-6">
            <label for="kommentar" class="block text-sm font-medium">Kommentar (optional)</label>
            <div class="mt-2">
                <textarea rows="5" name="kommentar" id="kommentar" class="block w-full rounded-md bg-white px-3 py-1.5 text-base outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-secondary-700/70 sm:text-sm/6" placeholder="Ich freue mich sehr auf meine erste BauFak und hoffe möglichst viele Maskottchen kennen zu lernen."></textarea>
            </div>
        </div>

        {{ partial "anmeldung-file.html" (dict "id" "immatrikulation" "label" "Immatrikulationsbescheinigung" "optional" "true" "commentar" "Du kannst deine Bescheinigung auch per Mail an baufak104.fsbgu@ed.tum.de nachreichen. Für die Statusgruppe A ist eine Bescheinigung verpflichend, ansonsten gilt ein höherer Teilnehmerbeitrag!")}}

        <div class="block sm:col-span-6"><a class="underline font-bold" href="/datenschutz" target="_blank">Die Datenschutzerklärung</a></div>
        {{ partial "anmeldung-toggle.html" (dict "id" "datenschutz" "label" "Ich habe die Datenschutzerklärung zur Kenntnis genommen und stimme dieser zu" "width" "sm:col-span-6") "required" true}}
        {{ partial "anmeldung-toggle.html" (dict "id" "teilnahmegebuehr" "width" "sm:col-span-6") "required" true}}
    </div>
  
    <div class="mt-10 flex justify-end">
        <button type="submit" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-primary text-white font-medium shadow-md hover:bg-primary/90 h-9 px-4 py-2">Anmelden</button>
    </div>
</form>

<script>
    document.getElementById("wievielte-baufak").onchange = function() {
        if (Number.isNaN(document.getElementById("wievielte-baufak").value) || document.getElementById("wievielte-baufak").value < 1) {
            document.getElementById("wievielte-baufak").value = document.getElementById("wievielte-baufak").defaultValue;
            return;
        }
        document.getElementById("wievielte-baufak").defaultValue = document.getElementById("wievielte-baufak").value;
    };
    document.getElementById("erste-baufak").onchange = function() {
        if (document.getElementById("erste-baufak").checked) {
            document.getElementById("wievielte-baufak").value = "1";
            document.getElementById("wievielte-baufak").readOnly = true;
            document.getElementById("buddy").value = "Ich möchte ein Buddy";
            document.getElementById("buddy").readOnly = true;
        } else {
            document.getElementById("wievielte-baufak").value = "1";
            document.getElementById("wievielte-baufak").readOnly = false;
            document.getElementById("buddy").readOnly = false;
        }
    };
    document.getElementById("erste-baufak").onchange();
    document.getElementById("schlafplatz").onchange = function() {
        if (document.getElementById("schlafplatz").checked) {
            document.getElementById("schlafplatz-auswahl").readOnly = false;
        } else {
            document.getElementById("schlafplatz-auswahl").readOnly = true;
        }
    };
    document.getElementById("schlafplatz").checked = true;
    document.getElementById("schlafplatz").onchange();
    document.getElementById("schlafplatz-auswahl").onchange = function() {
        if (document.getElementById("schlafplatz-auswahl").value == "Bestimmte Personen") {
            document.getElementById("schlafplatz-personen").readOnly = false;
        } else {
            document.getElementById("schlafplatz-personen").value = "";
            document.getElementById("schlafplatz-personen").readOnly = true;
        }
    };
    document.getElementById("schlafplatz-auswahl").onchange();
    document.getElementById("allergie-sonstige").onchange = function() {
        if (document.getElementById("allergie-sonstige").checked) {
            document.getElementById("allergien").parentNode.parentNode.hidden = false;
            document.getElementById("allergien").value = "";
            document.getElementById("allergien").required = true;
        } else {
            document.getElementById("allergien").parentNode.parentNode.hidden = true;
            document.getElementById("allergien").required = false;
        }
    };
    document.getElementById("allergie-sonstige").onchange();
    gebuehren = {
        "A": 20,
        "B": 50,
        "C": 100
    };
    gebuehr = "Ich habe die Teilnahmegebühr von %% € zur Kenntnis genommen und überweise diese bis zum 15.5.2025. Für eine Rechnung melde ich mich rechtzeitig unter baufakfinanzen.fsbgu@ed.tum.de";
    document.getElementById("statusgruppe").onchange = function() {
        price = gebuehren[document.getElementById("statusgruppe").value[0]];
        document.getElementById("label-teilnahmegebuehr").innerHTML = gebuehr.replace("%%", price);
    };
    document.getElementById("statusgruppe").onchange();
    document.getElementById("div-immatrikulation").ondragover = document.getElementById("div-immatrikulation").ondragenter = function(evt) {
        evt.preventDefault();
    };
    document.getElementById("div-immatrikulation").ondrop = function(evt) {
        evt.preventDefault();
        document.getElementById("immatrikulation").files = evt.dataTransfer.files;
        document.getElementById("immatrikulation").onchange();
    };
    document.getElementById("immatrikulation").onchange = function() {
        document.getElementById("selection-immatrikulation").innerHTML = "Selected: " + document.getElementById("immatrikulation").files[0].name;
        document.getElementById("selection-immatrikulation").hidden = false;
    };

    const form = document.getElementById("registration");
    
    async function sendData() {
        const formData = new FormData(form);
        for (divs in document.querySelectorAll("div.error")) {
            divs.innerHTML = "";
            if (!("hidden" in divs.classList)) {
                errorDiv.classList.add("hidden");
            }
        }

        try {
            const response = await fetch("/registration", {
                method: "POST",
                body: new FormData(form),
            });
            if (response.status == 400) {
                for ((key, value) in await response.json()) {
                    const errorDiv = document.querySelector("#" + key + " + div.error");
                    errorDiv.innerHTML = value;
                    errorDiv.classList.remove("hidden");
                }
            }
            console.log(await response.json());
        } catch (e) {
            console.error(e);
        }
    }

    form.addEventListener("submit", (event) => {
        event.preventDefault();
        sendData();
    });
</script>