{{- $page := $.Site.GetPage ($.Get "page")}}

<div class="flex gap-10 items-center my-10">
    {{- if and (.Get "image") (not (.Get "right")) -}}
        {{- with $.Page.Resources.Get (.Get "image") -}}
            <img class="max-h-full flex-none block w-120 rounded-md shadow-md" height="{{ .Height }}" width="{{ .Width }}" src="{{ .RelPermalink }}">
        {{- end -}}
    {{- end -}}
    <div>{{ .Inner | markdownify }}</div>
    {{- if and (.Get "image") (.Get "right") -}}
        {{- with $.Page.Resources.Get (.Get "image") -}}
            <img class="max-h-full flex-none block w-120 rounded-md shadow-md" height="{{ .Height }}" width="{{ .Width }}" src="{{ .RelPermalink }}">
        {{- end -}}
    {{- end -}}
</div>